.outercircle {
  height: 12.5rem;
  width: 12.5rem;
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 30px;
}

.innercircle {
  height: 9.313rem;
  width: 9.313rem;
  background-color: #fff;
  box-shadow: inset 0px 8.5px 2px -1px #c6c1d2;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
}

.Rock {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -8.5px 2px -1px #9f1632;
}
.Paper {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -8.5px 2px -1px #3144b7;
}
.Scissors {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -8.5px 2px -1px #d78321;
}

.choiceContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.outercircle {
    transition: all 0.3s;
}

.outercircle:hover {
    transform: scale(1.1);
}

.outercircle:focus {
  transform: scale(1);
}

.badge{
   height: 12.5rem;
  width: 12.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 30px;
  transform: scale(1.3)
}