table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-size: medium;
  
  }
  thead{
    font-size: larger;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 10px;

  }
  
